/* Limpa formatação*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: sans-serif, Arial, Helvetica;
    background-color: #f8f9fa;
}

header {
    margin-bottom: 150px;
}

/* Estilização do menu*/
#iniciais {
    font-size: 24px;
}

.menuHeader a {
    color: #212529;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}
/* Faz com que os botões do menu mudem de cor quando o cursor do mouse estiver sobre eles*/
.menuHeader a:hover {
    background-color: #fe5b02;
    color: #f8f9fa;   
}

.menuHeader > ul > li {
    border-bottom: 2px solid #212529;
    border-left: 2px solid #212529;
    text-align: center;
    cursor: pointer;
    width: 100%;
    
}
/* Organização dos botões do menu*/
.menuHeader > ul {
    display: flex;
    background-color: #f8f9fa;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-size: 4em;
    color: #212529;
    margin-bottom: 60px;
}

/* Estilização do conteudo no centro do site*/
.principal p {
    font-size: 1.2em;
    color: #212529;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao {
    width: 70%;
}

/* Organiza a área na seção portfólio do site*/
.navPortfolio ul {
    display: flex;
    gap: 10%;
}

img {
    border: 2px solid #212529;
    width: 100%;
}

.navPortfolio li {
    display: flex;
    border: 2px solid #212529;
    margin: auto;
    width: 80%;
    padding: 3%;
    flex-direction: column;
}

/* Estilização do conteúdo na seção do portifólio no site*/
.navPortfolio a {
    color: #212529;
    display: flex;
    padding: 10px;
    border: 2px solid #212529;
    height: 20px;
    margin-top: 20px;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    
}

/* Faz com que os botões do menu mudem de cor quando o cursor do mouse estiver sobre eles*/
.navPortfolio a:hover {
    background-color: #fe5b02;
    color: #f8f9fa;
}

/* Responsável pela modelagem do formulário*/
.formulario {
    width: 70%;
    min-width: 300px;
    max-width: 700px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #212529;
    font-size: 16px;
    font-weight: bold;
    padding: 30px;
    margin-top: 40px;
}

form input {
    border: 2px solid #212529;
    background-color: #f8f9fa;
    height: 30px;
    
}

form textarea {
    border: 2px solid #212529;
    background-color: #f8f9fa;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border: 2px solid #212529;
    margin: auto;
    padding: 10px;
    width: 20%;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

/* Faz com que os botões do menu mudem de cor quando o cursor do mouse estiver sobre eles*/
form button:hover {
    background-color: #fe5b02;
    color: #f8f9fa;
}

/* Estilização do rodapé da página do site*/
footer h2, footer li, footer a, footer p {
    color: #f8f9fa;
    transition: 0.3s;
}

footer a:hover {
    color: #fe5b02;
}

footer {
    display: flex;
    background-color: #212529;
    margin-top: 350px;
    padding: 45px 0 20px 0;
    flex-direction: column;
    bottom: 0;
    right: 0;
    left: 0;
}

.divFooter {
    display: flex;
    justify-content: space-around;
    height: 70%;
}

.divFooter h2 {
    margin-bottom: 20px;
}

.divFooter li, p {
    margin-bottom: 10px;
}

.menuFooter ul {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 35px;
}